## Import libraries

In [0]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

## 문제 1. DataFrame 다루기

### a) DataFrame으로 위와 같은 자료를 만드시오. 컬럼 이름은 numbers, 로우 네임은 a~d, 값은 10~40

   | numbers |
----- | ------ 
a  | 10 
b  | 20 
c  | 30 
d  | 40

In [2]:
df = DataFrame([10,20,30,40], index = ['a','b','c','d'], columns = ['numbers'])
df

   numbers
a       10
b       20
c       30
d       40

### b) c 로우의 값을 가져오시오.

In [3]:
df.loc['c']

# 값만 가져오고 싶으면 뒤에 values를 붙이면 됩니다
# df.loc['c'].values

numbers    30
Name: c, dtype: int64

### c) a, d 로우들의 값을 가져오시오.

In [6]:
df.loc[['a','d']]

   numbers
a       10
d       40

### d) numbers의 합을 구하시오.

In [0]:
df.sum()

numbers    100
dtype: int64

### e) numbers의 값들을 각각 제곱하시오<br>아래와 같은결과가 나와야 함
<br>

  | numbers |
----- | ------ 
a  | 100 
b  | 400 
c  | 900 
d  | 1600

In [7]:
df = DataFrame([10,20,30,40], index = ['a','b','c','d'], columns = ['numbers'])
df['numbers'] = df['numbers'] ** 2
df

   numbers
a      100
b      400
c      900
d     1600

### g) floats라는 이름의 칼럼을 추가하시오. 값은 1.5, 2.5, 3.5, 4.5<br>아래와 같은 결과가 나와야 합니다

<br>

| numbers | floats
----- | ------ | ------
a  | 10 | 1.5
b  | 20 | 2.5
c  | 30 | 3.5
d  | 40 | 4.5

In [8]:
df = DataFrame([10,20,30,40], index = ['a','b','c','d'], columns = ['numbers'])
df['floats'] = [1.5,2.5,3.5,4.5]
df

   numbers  floats
a       10     1.5
b       20     2.5
c       30     3.5
d       40     4.5