# 새벽에 하는 pandas

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame({'name' : ['철강왕','이미지왕','소리왕', '농사왕','데이터왕'],
                    '지분': [10, 20, 30, 40, 50],
                    '왕이될상': ['yes', 'no', 'yes', 'no', 'yes']
                    },  columns= ['name','지분', '왕이될상'])

# Q1:BOAZ 시리즈중에서 왕이될 상이면서 and 지분이 30이 넘는 후보를 구하세요.

In [9]:
firstcondition=df['왕이될상']=='yes' #first condition 조건
scorecondition=df['지분']>=30 #second condition 조건

select=df[scorecondition & firstcondition] 
select

   name  지분 왕이될상
2   소리왕  30  yes
4  데이터왕  50  yes

# Q2: 데이터의 row 수, column수, 정보, 일괄통계를 알아보세요

In [27]:
df.shape[0]

5

In [28]:
df.shape[1]

3

In [29]:
df.describe()

              지분
count   5.000000
mean   30.000000
std    15.811388
min    10.000000
25%    20.000000
50%    30.000000
75%    40.000000
max    50.000000